@use '../base/variables' as v;

body{
    background-color: yellow;
}

.contenedor{
    display: flex;
    border-radius: black 2px solid;
    flex-wrap: wrap-reverse;
    gap: 2rem;

}

.bloqueRojo{
    background-color: red;
    height: 20rem;
    width: 20rem;
    overflow: auto;
    position: fixed;

}

.bloqueNegro{
    background-color: black;
    height: 20rem;
    width: 20rem;
}

.bloqueNaranja{
    background-color: orange;
    height: 20rem;
    width: 20rem;
}

.bloqueVerde{
    background-color: green;
    height: 20rem;
    width: 20rem;
}