@use '../base/variables' as v;

body{
    background-color: v.$fondo;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor{
    border: 1px black solid;
    padding: 20rem;
    background-color: v.$azul_claro;
    
}